{% extends "bootstrap/base.html" %}
{% block title %}Portal Example{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
  <style>
  .ui-autocomplete-loading {
    background: white url("http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  </style>
{% endblock %}

{% block content %}

<div class="container">

  {% if status == 200 %}
<p> Your database has been sucessfully created you can connect to it by running <p></p>

With the CLI
 <pre><code>
  redis-cli -h redis-{{ port }}.{{ server }} -p {{ port }} -a {{ passwd }}
  </code></pre>

In Python
 <pre><code>
  import redis

  try:
      conn = redis.StrictRedis(
          host='redis-{{ port }}.{{ server }}',
          port={{ port }},
          password='{{ passwd }}')
      print conn
      conn.ping()
      print 'Connected!'
  except Exception as ex:
      print 'Error:', ex
      exit('Failed to connect, terminating.')
 </code></pre>

  <p>Please note down the password as it will not be displayed again</p>
  {% else %}
  <p>We were not able to create the database with error : {{ status }}</p>
  {% endif %}

</div>

{% endblock %}
 
