{% extends "bootstrap/base.html" %}
{% block title %}Portal Example{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
  <style>
  .ui-autocomplete-loading {
    background: white url("http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  </style>
{% endblock %}

{% block content %}

<div class="container">
<table class="table table-dark">
  <tr><th>DB Name</th><th>Port</th><th>Shards</th><th>Size(gb)</th></tr>
  {% for row in results %}
  <tr><td>{{ row['name'] }}</td><td>{{ row['port'] }}</td><td>{{ row['shards'] }}</td><td>{{ row['size'] }}</td></tr>
  {% endfor %}
    </table>
</div>

{% endblock %}
 
